<div id="comment-container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '<%= page.articleID %>',
  owner: 'qianhk',
  repo: 'qianhk.github.io',
  oauth: {
    client_id: '158d8d047a5c66420ecb',
    client_secret: '5914732b33687719e97c518d1d0089a1a45ce3c0',
  },
})
gitment.render('comment-container')
</script>
